<mat-toolbar class="toolbar">
  <span><img src="/assets/images/logo.PNG" height=70 width=150></span>
  <a class="tool-item" mat-button routerLink="/home" routerLinkActive="active"><span class="fa fa-home fa-lg tool-item"></span> <span class="tool-item">Home</span></a>
  <a class="tool-item"  mat-button><span class="fa fa-info fa-lg tool-item"></span> <span class="tool-item">About</span></a>
  <a class="tool-item" mat-button routerLink="/menu"><span class="fa fa-list fa-lg tool-item"></span><span class="tool-item">Menu</span> </a>
</mat-toolbar>
  
  <div class="container jumbotron"
      fxLayout="row"
      fxLayout.sm="column" 
      fxLayout.xs="column" 
      fxLayoutAlign.xs="start center"
      fxLayoutAlign.sm="start center" 
      fxLayoutAlign.gt-sm="center center" 
      fxLayoutGap="10px">
  
    <div fxFlex fxFlex.gt-sm="50%">
      <h1>Kalaw Heaven</h1>
    </div>
    <div fxFlex></div>
  </div>