<div style="color: white;" fxFlex fxFlexOffset="20%" class="form-size">
  <h3>Send us your Feedback</h3>
  <form novalidate [formGroup]="feedbackForm" #fform="ngForm" (ngSubmit)="onSubmit()">
      <p>
        <mat-form-field class="half-width">
          <input matInput formControlName="firstname" placeholder="First Name" type="text" required>
          <mat-error *ngIf="feedbackForm.get('firstname')?.hasError('required') && feedbackForm.get('firstname')?.touched">First name is required</mat-error>
        </mat-form-field>
      </p>
      <mat-form-field class="half-width">
        <input matInput formControlName="lastname" placeholder="Last Name" type="text" required>
        <mat-error *ngIf="feedbackForm.get('lastname')?.hasError('required') && feedbackForm.get('lastname')?.touched">Last name is required</mat-error>
      </mat-form-field>
      <p>
        <mat-form-field class="half-width">
          <input matInput formControlName="telnum" placeholder="Tel. Number" type="tel" required>
          <mat-error *ngIf="feedbackForm.get('telnum')?.hasError('required') && feedbackForm.get('telnum')?.touched">Tel. number is required</mat-error>
        </mat-form-field>
      </p>
      <mat-form-field class="half-width">
        <input matInput formControlName="email" placeholder="Email" type="email" required>
        <mat-error *ngIf="feedbackForm.get('email')?.hasError('required') && feedbackForm.get('email')?.touched">Email ID is required</mat-error>
      </mat-form-field>
      <p></p>
    <button type="submit" mat-button class="background-primary text-floral-white" style="margin-bottom: 20px;">Submit</button>
  </form>
</div>